# Core
streamlit
python-dotenv
bcrypt
numpy
matplotlib
scikit-learn

# LangChain Core
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

# Embeddings
sentence-transformers

# Vector Store
chromadb
pysqlite3-binary

# PDF Handling
pypdf

# Word Handling
docx2txt
python-docx

# LLM (for Day 2)
langchain-groq

# Optional but useful
tiktoken